@import "tailwindcss";
@import "@nuxt/ui";

:root {
  --ui-primary: #ff5c2f;
  --ui-text: #191919;
  --ui-border: #eeeeee;
  --ui-bg: #ffffff;
  --ui-secondary: #7c7c7c;
  --white: #fff;
  --black: #202020;
  --ContentNeutralLevel4: #7c7c7c;
  --ContentNeutralLevel6: #4d4d4d;

  --SurfaceNeutralLevel18: #fafafa;
  --SurfaceNeutralLevel2: #ffffff;

  --BorderNeutralLevel1: #eeeeee;
}

.dark {
  --ui-text: #fff;
  --black: #202020;
  --ui-border: #3a3a3a;
  --ui-bg: #202020;
  --ui-bg-elevated: #1a191965;
  --ui-border-accented: #3a3a3a;

  --white: #fff;

  --ContentNeutralLevel4: #7c7c7c;
  --ContentNeutralLevel6: #eeeeee;

  --SurfaceNeutralLevel18: #191919;
  --SurfaceNeutralLevel2: #202020;

  --BorderNeutralLevel1: #3a3a3a;
}

@font-face {
  font-family: "iranSans";
  src: url("../fonts/IRANSansXV.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --text-2xl-custom: 1.625rem;
}

@layer utilities {
  .disabled\:bg-primary {
    &:disabled {
      background-color: var(--ContentNeutralLevel4);
    }
  }
}

/* .vpd-time .vpd-up-arrow-btn,
.vpd-time .vpd-down-arrow-btn {
  justify-content: center !important;
  display: flex !important;
} */

.vpd-content {
  border-radius: 8px !important;
}

.vpd-controls {
  padding: 16px;
}

.vpd-controls .vpd-next {
  order: 2 !important;
}

.vpd-controls button {
  width: 12px !important;
  height: 12px !important;
}
.vpd-controls button > svg {
  width: 12px !important;
  height: 12px !important;
}

.vpd-controls.direction-prev {
  display: flex;
  justify-content: space-between;
}

.vpd-controls .vpd-month-label {
  width: unset !important;
}

.vpd-container .vpd-header {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.vpd-time .vpd-up-arrow-btn {
  top: 12px !important;
}
